:root {
  --color-background:#FAF9F9;
  --color-text: #121314;
  --color-accent-1: #0f1716;
  --color-accent-2: #e8f0ee;
  --color-accent-3: #f8873c;

}
html {
  font-size:  10px;
  font-family: "Raleway", sans-serif;
  background-color: var(--color-accent-2);
  max-width: 80ch;
  margin: 0 auto;
    }
h2 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  color: var(--color-accent-1);
}
h4 {
  text-align: center;
  color: var(--color-text)
}
p, 
li,
tr,
th,
td {
line-height: 2;
letter-spacing: 1px;
color: var(--color-text)
}
body {
  background-color: var(--color-background);
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

.myCircle:hover {
  stroke: black;
}

img {
  display: block;
  margin: 0 auto;
}
figcaption {
  border: 1px;
  text-align: center;
}
a {
  color: var(--color-accent-3)
}
/*mobile devices*/
@media (min-width: 320px) {
  html {
      font-size: 15px;
  }
  h1 {
      font-size: 50px;
  }
}
/*tablets*/
@media (min-width: 768px) {
  html {
      font-size: 15px;
  }
  h1 {
      font-size: 80px;
  }
}
/*laptops and desktops*/
@media (min-width: 1024px) {
  html {
      font-size: 15px;
  }
  h1 {
      font-size: 130px;
  }
}